doctype html
html(lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title How Hot is it?
    link(rel='stylesheet', href='vendor/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='css/base.css')
  body
    header
      nav
        .nav-wrapper
          a.brand-logo.center(href='#') How hot is it?
    main
      .container
        .row
          .col.s10.offset-s1
            h2.center-align 3-Day Forecast
            .row
              .col.s10.offset-s1
                .row
                  form.input-field
                    input(placeholder="" id="userZip" type="text").col.s9
                    label(for="userZip") Zip:
                    button.btn.col.s3#submitZip Go
            .row#cityName.city-name
            .row#fiveDayForecast
    footer.page-footer
      .footer-copyright
        .container © 2015
          span.right Jacob Lewis



    script(src='vendor/jquery/dist/jquery.min.js')
    script(src='vendor/lodash/lodash.min.js')
    script(src='vendor/materialize/dist/js/materialize.min.js')
    script(src='js/index.js')